

.profile__fullname {
    
    margin: 0;
    padding-top: 18px;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
    flex-wrap: wrap;
}


@media all and (max-width: 860px) {
    .profile__fullname {
        font-size: 27px;
        padding: 0;
        margin: 0 auto;
    }
}

@media all and (max-width: 320px) {
    .profile__fullname {
        align-items: flex-end;
        width: 201px;
        
    }
}
