
.header__logo {
    max-width: 16.1%;
}

@media all and (max-width: 860px) {
    .header__logo {
        max-width: 104px;
        
    }
}

@media all and (max-width: 320px) {
    .header__logo {
        padding-left: 27px;
        
    }
}