.imgmodal__title {
    position: absolute;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    
    margin: 0;
    justify-content: left;
}

@media all and (max-width: 550px) {
    .imgmodal__title {
       padding-left: 8px;
       text-align: center;
    }
}