
.imgmodal__close-button {
    position: absolute;
    top: 300;
    right: 100;
    background-image: url(../../../images/close_icon.svg);
    width: 41px;
    height: 41px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 0;
    align-items: end;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
    background-color: transparent;
    z-index: 2;
    
}

.imgmodal__close-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media all and (max-width: 550px) {
    .imgmodal__close-button {
       margin-left: 265px
    }
}