.form__submit-button_disabled {

border: 1px solid #000000;
box-sizing: border-box;
border-radius: 2px;
background-color: white;
opacity: .2;
color: #000000;
pointer-events: none;
user-select: none;
}