.avatarform__submit {
    width: 358px;
    height: 50.15px;
    margin: 0 auto;
    margin-bottom: 36px;
    margin-top: 48px;
    padding: 0;
    background: #000000;
    border-radius: 2px;
    color: white;
    border: 0;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

@media all and (max-width: 550px) {
    .avatarform__submit {
       width: 260px;
    }
}

@media all and (max-width: 320px) {
    .avatarform__submit {
        width: 200px;
        height: 40px;
        margin-bottom: 30px;
        margin-top: 6px;
    }
}