

@import url(./__edit-btn/profile__edit-btn.css);
@import url(./__info/profile__info.css);
@import url(./__avatar/profile__avatar.css);
@import url(./__fullname/profile__fullname.css);
@import url(./__profession/profile__profession.css);
@import url(./__add-btn/profile__add-btn.css);
@import url(./__info-text/profile__info-text.css);

.profile {
    display: flex;
    flex-direction: row;
    max-width: 882px;
    margin: 0 auto;
    padding-top: 40px;
    font-family: Inter;
    font-style: normal;
}

@media screen and (max-width: 1024px) {
    .profile {
        margin: 0 13.09%;
    }
}

@media all and (max-width: 860px) {
    .profile {
        flex-direction: column;
        align-items: center;
        max-width: 69%;
        padding-top: 38px;
        padding-bottom: 36px;
        margin: 0 auto;
    }
}