
.form__submit-text { 

    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
}


@media all and (max-width: 320px) {
    .form__submit-text {
        width: 200px;
        height: 40px;
        
font-size: 14px;
line-height: 17px;

    }
}