

@import url(./__text/element__text.css);
@import url(./__image/element__image.css);
@import url(./__bot/element__bot.css);
@import url(./__like/element__like.css);
@import url(./__like/_black/element__like_black.css);
@import url(./__delete/element__delete.css);
@import url(./__likecase/element__likecase.css);
@import url(./__like-counter/element__like-counter.css);


.element {
    background-color: white;
    border-radius: 10px;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    position: relative;
    
}

