

@import url(./__text/element__text.css);
@import url(./__image/element__image.css);
@import url(./__bot/element__bot.css);
@import url(./__like/element__like.css);


.element {
    background-color: white;
    border-radius: 10px;
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
}

